/* your styles go here */
.media-body {
    margin: 10px;
}
.media{
    margin-bottom:10px;
}
.smallLogo{
    max-height:90px;
}
@media (max-width: 280px) {
    .smallLogo{
        max-height:60px;
    }
}
@media (min-width: 281px) , (max-width: 320) {
    .smallLogo{
        max-height:70px;
    }
}
@media (min-width: 321px) , (max-width: 360) {
    .smallLogo{
        max-height:75px;
    }
}
.footer-category{
    max-height: 300px;
    overflow:scroll;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  /*display: none;*/
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  display: block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}